.wrapper {
    background-color: var(--white);
    height: 50rem;
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}
